/* .navmain{
    display: flex;
    flex-wrap: wrap;
    
}
.nav2{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 10px;
    margin-left: ; */
    .ml{
        margin-left: 200px;
    }
.mm{
    margin-left: 400px;
}
.mn{
    margin-top: 300px;
}